body {
    background-color: hsl(0, 0%, 0%);
    margin: 0;
}

#sec1 {
    padding: 50px 50px;
}

h2 {
    font-family: NZ;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

#img1 {
    float: left;
    margin-right: 10px;
}

.dropdown {
    display: inline-block;
}

.dropdown button {
    font-family: NZ;
    font-size: 40px;
    font-weight: bolder;
    padding: 10px 30px;
    border: none;
    background-color: hsl(0, 0%, 0%);
    color: hsl(46, 100%, 50%);
    cursor: pointer;
    transition: 0.8s;
}

.dropdown .content {
    list-style-type: none;
    display: none;
    color: rgb(0, 0, 0);
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    font-family: MitrTH;
    font-size: 20px;
    padding: 0;
    min-height: 165px;
}

.dropdown a {
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    transition: 0.5s;
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover button {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
}

a:hover {
    color: rgb(244, 218, 69);
}

/*_________________________________*\
#SECOND CONTENT
\*_________________________________*/
#sec2 {
    padding: 50px 50px;
}
.secdrop{
    display: inline-block;
}
.secdrop button{
    font-family: NZ;
    font-size: 40px;
    font-weight: bolder;
    padding: 10px 30px;
    border: none;
    background-color: hsl(0, 0%, 0%);
    color: hsl(46, 100%, 50%);
    cursor: pointer;
    transition: 0.8s;
}
.secdrop .content {
    list-style-type: none;
    display: none;
    color: rgb(0, 0, 0);
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    font-family: MitrTH;
    font-size: 20px;
    padding: 0;
    max-height: 200px;
}
.secdrop a {
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    transition: 0.5s;
}
.secdrop a {
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    transition: 0.5s;
}

.secdrop:hover .content {
    display: block;
}

.secdrop:hover button {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
}

a:hover {
    color: rgb(244, 218, 69);
}
/*_________________________________*\
#THIRD CONTENT(hobbies)
\*_________________________________*/
article{
    float: right;
}
#box1{
    background-color: hsl(208, 100%, 97%);
    border: 3px;
    position: relative;
    right: 50px;
    height: auto;
    width: 50%;

}